.show-div {
  display: flex;
  justify-content: center;
  font-family: var(--ff-secondary);
}

.buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background: var(--clr-accent);
  color: var(--clr-dark);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  text-decoration: none;
  transition: 200ms;
  font-weight: 700;
}

.buy-button:hover {
  background: var(--clr-dark);
  color: var(--clr-accent);
}

a {
  text-decoration: none;
}

.show-content-div {
  background: var(--clr-accent);
  margin-top: 0;
  
}